/* -----------------------------------------------------------------------------------------

AUTHOR:		Paul Huxen
DATE:		July 2012

----------------------------------------------------------------------------------------- */
// CSS Reset
@import "reset.less";
@import "var.less";

/* =========================================================================================

GLOBAL

========================================================================================= */
html	{
	font-size:0.9em;
	font-family:Helvetica,Arial,sans-serif;
	line-height:1.4;
}
body	{
	min-height:100%;
	//background:url(../img/2.jpg) repeat fixed @backgroundColor;
	background:url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/shattered.png') repeat fixed @backgroundColor;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:@bodyColor;
}

/* =========================================================================================

NAVIGATION

========================================================================================= */
.navbar					{background:@black;position:fixed;width:100%;z-index:2;box-shadow:0 0 4px rgba(0, 0, 0, 0.7);-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);}
	.navbarInner		{width:@siteWidthFull;margin: 0 auto;}
		a.brand			{float: left;padding:15px 10px 15px 0;color: @white;}
		a.brand:hover	{text-decoration: none;color:@themeColor;}
		ul.nav			{float: left;}
		ul.nav li		{float: left;padding:15px 10px;}
		ul.nav li a		{color: @grayLight}
			ul.nav li:hover		{}
			ul.nav li:hover a	{text-decoration:none;color:white;}
			
/* =========================================================================================

MAIN ELEMENTS

========================================================================================= */			
.container				{width:@siteWidthFull;padding-top:70px;margin: 0 auto;}
	.header				{}
	.containerInner		{
			background:@white;.roundCorners(5px);float:left;margin:0 0 @globalPadding;overflow:hidden;
			/*-moz-box-shadow:    inset 0 0 10px @white;
			-webkit-box-shadow: inset 0 0 10px @white;
			box-shadow:         inset 0 0 10px @white;*/
		}
	
		pre {
			margin: 0;
			background:@grayDarker;
			border: 0;
			color: @white;
			padding: 0 15px;
			border: 1px dashed @gray;
			font-family: Courier, monospace !important;
			overflow:auto;
		}
		 code {margin:30px;}

/* =========================================================================================

FOOTER

========================================================================================= */
.footer					{float:left;padding:0 0 5px;color:@grayLighter;text-align:right;width:100%;}
	.footer a			{color:@grayLighter;}
	.footer a:hover		{color:@grayLight;}
	.footer ul			{width:100%;float:left;}
		.footer ul li	{float:right;padding:0 10px 10px 0;}

/* =========================================================================================

SPAN

========================================================================================= */
.span100				{float:left;width:@siteWidthFull;padding:15px;}
.span50					{float:left;width:(@siteWidthFull/100)*50;padding:15px;}
.span25					{float:left;width:(@siteWidthFull/100)*25;}

.titleImage				{margin:0 auto 1em;}
.titleH1				{margin-bottom:0;}

.siteNotification		{border-top:1px solid @gray;}
	.siteNotification p	{margin-bottom:0;}
	
	
/* =========================================================================================

SPAN

========================================================================================= */
.projectTopImage	{width:@siteWidthFull;height:200px;float:left;overflow:hidden;position:relative;}
.rolloverBox		{position: absolute; top:0;left:0;width:@siteWidthFull;height:200px;background:rgba(0, 0, 0, 0.2);opacity:0;}
	.rolloverWrapper	{position:relative;float:left;width:25%;overflow:hidden;}
		
		.rolloverBoxButton {left:0;position: absolute;text-align:center;top:80px;width:@siteWidthFull;z-index: 5;font-size:3em;}
			.rolloverBoxButton a		{color:@white;.transition(.2s linear all);}
			.rolloverBoxButton a:hover	{color:@themeColor;text-decoration:none;}

/* =========================================================================================

BX SLIDER

========================================================================================= */
.bx-wrapper				{position:relative;}
	.bx-window			{}
	
		#slider1		{}
			#slider1 li	{}


.bx-pager				{width:@siteWidthFull;padding:0 @globalPadding @globalPadding;text-align:center;}
	a.pager-link			{.gradientBar(@grayLight, @gray);font-size:0px;padding:6px;.roundCorners(10px);margin:0 2px;outline:none;.transition(.1s linear all);}
	a.pager-active			{.gradientBar(@themeColor, @themeColorDark);outline:none;}
	
	a.pager-link:active		{}
	a.pager-link:hover		{background-position: 0 -5px;}
	a.pager-active:hover	{background-position: 0 -5px;}
	
.bx-prev, .bx-next		{.transition(.1s linear all);.pictos;font-size:30px;color:@white;outline:none;z-index:-2}	
.bx-prev				{position:absolute;top:200px;left:-32px;height:30px;width:60px;overflow:hidden;padding:0 0 0 20px;}
.bx-next				{position:absolute;top:200px;right:-32px;height:30px;width:60px;overflow:hidden;padding:0 20px 0 0;text-align:right;}
.bx-prev:focus,
.bx-next:focus			{outline:none;}
.bx-prev:hover			{text-decoration:none;color:@grayLight;left:-52px;}
.bx-next:hover			{text-decoration:none;color:@grayLight;right:-52px;}


/* =========================================================================================

IOS SLIDER

========================================================================================= */
/* slider container */
.iosSlider {
	/* required */
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* slider */
.iosSlider .slider {
	/* required */
	width: 100%;
	height: auto;
}

/* slide */
.iosSlider .slider .slide {
	/* required */
	float: left;
	
	/*
	overflow-x:hidden;
	overflow-y:auto;
	height:300px;
	*/
}

.iosSliderButtons {
	height:40px;
	width:100px;
	padding:0;
	float:none;
	margin:0 auto;
}

.iosSliderButtons .button {
	float: left;
	width: 10px;
	height: 10px;
	background: #999;
	margin: 0 10px 0 0;
	opacity: 0.25;
	.roundCorners(30px);
}

.iosSliderButtons .selected {
	background: #000;
	opacity: 1;
}

/* =========================================================================================

TYPOGRAPHY

========================================================================================= */

@font-face {
	font-family: 'Pictos';
	src: url('../icons/pictos-web.eot');
	src: local('☺'), url('../icons/pictos-web.woff') format('woff'),url('../icons/pictos-web.ttf') format('truetype'), url('../icons/pictos-web.svg#webfontphKv1xv9') format('svg');
	font-weight: normal;
	font-style: normal;
}
	.pictos {font-family:"Pictos";font-weight:normal;line-height:0;text-shadow:none;}


/* -------------------------------------------------------
Headers
------------------------------------------------------- */
h1, h2, h3		{color:@headerColor;font-weight:bold;}
h4, h5			{font-weight:bold;}
h1{
	font-size:2.2em;
	line-height:1.2;
	letter-spacing:-1px;
	margin-bottom:0.2em;
}
h2{
	font-size:1.7em;
	line-height:1.2;
	letter-spacing:-1px;
	margin-bottom:0.2em;
}
h3{
	font-size:1.5em;
	line-height:1.2;
	letter-spacing:-1px;
	margin-bottom:0.2em;
}
h4{
	font-size:1.2em;
	line-height:1.2;
	margin-bottom:0.1em;
}

p,address	{margin-bottom:1.5em;font-size:1em;}
p+p			{margin-top:-1em;}

em			{font-style:italic;font-weight:normal;font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;}
strong		{font-weight:bold;}

a						{color:@linkColor;text-decoration:none;}
a:hover					{color:@linkColorHover;text-decoration:underline;}

.superscript			{vertical-align:super;font-size:70%;} 
.subscript				{vertical-align:bottom;font-size:70%;} 

::selection 			{background:@themeColor;color:@white;}
::-moz-selection		{background:@themeColor;color:@white;}

/* =========================================================================================

BUTTONS

========================================================================================= */
.btn		{
	.noSelect;
	.roundCorners(3px);
	padding:5px 15px 3px;
	border-style: solid;
	border-width: 1px;
	color:@grayDarker;
	font-weight:normal;
	.transition(.1s linear all);
	.gradientBar(@grayLighter, @grayLight);
	text-shadow: 0 -1px 0 (@white - 40%);
	cursor: pointer;
	display:inline-block;
	//position:relative;
	margin-bottom:5px;
	/* Icons */
	.pictos {
		text-shadow: 0 -1px 0 (@white - 40%);
	}
	/* Lets look at our peusdo classes */
	&:hover {
		background-position: 0 -15px;
		text-decoration: none;
		color:@grayDarker;
	}
	&:focus {
		//outline: 1px dotted #666;
	}
	&.large {
		padding:10px 20px;
		font-size:1.3em;
		margin-bottom:0.2em;
	}
	&.large:hover {
		background-position: 0 -30px;
	}
	&.success {
		color: @white;
		.gradientBar(@mint, @mintDark);
		text-shadow: 0 -1px 0 (@gray - 40%);
	}
	&.info {
		color: @white;
		.gradientBar(@themeColor, @themeColorDark);
		text-shadow: 0 -1px 0 (@themeColorDark - 40%);
		.pictos {text-shadow: 0 -1px 0 (@themeColorDark - 40%);}
	}
	&.alert {
		color: @white;
		.gradientBar(@red, @redDark);
		text-shadow: 0 -1px 0 (@redDark - 40%);
		.pictos {text-shadow: 0 -1px 0 (@redDark - 40%);}
	}
	&.active,
	&:active {
		@shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.05);
		.box-shadow(@shadow);
		background-position: 0 -15px;
	}
	&.disabled {
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
		.noSelect;
	}
	&[disabled] {
		cursor: default;
		background-image: none;
		.reset-filter();
		.opacity(65);
		.box-shadow(none);
		.noSelect;
	}
}
.btnGroup			{margin:0 0 10px;float:left;}
	.btnGroup .btn 	{
		.roundCorners(0px);
		float:left;
		border-right-width:1px;
	}
		.btnGroup .btn:first-child {
			.roundCorners(3px 0 0 3px);
			//border-right-width:1px;
		}
		.btnGroup .btn:last-child {
			.roundCorners(0 3px 3px 0);
			//border-right-width:0;
		}
		.btnGroup .btn:active,
		.btnGroup .btn.active {
			border-bottom-width:1px;
		}
		
/* =========================================================================================

MOBILE

========================================================================================= */

@media screen and (max-width: 480px) {
	html	{font-size:0.95em}
		.navbarInner,
		.container,
		.containerInner,
		.span100,
		.span50,
		.span25,
		.bx-pager			{width:260px;}
		
		.bx-prev:hover			{text-decoration:none;color:@grayLight;left:-32px;}
		.bx-next:hover			{text-decoration:none;color:@grayLight;right:-32px;}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
	html	{font-size:0.95em}
		.navbarInner,
		.container,
		.containerInner,
		.span100,
		.span50,
		.span25,
		.bx-pager			{width:320px;}
		
		.bx-prev:hover			{text-decoration:none;color:@grayLight;left:-32px;}
		.bx-next:hover			{text-decoration:none;color:@grayLight;right:-32px;}
}