/* -----------------------------------------------------------------------------------------

JAN 2012

----------------------------------------------------------------------------------------- */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* 6ec59a 7EB99C */
/* f60 46a546 66ccff da5555*/
body.kraken {
  /* f60 46a546 66ccff da5555*/

}
/* -----------------------------------------------------------------------------------------

Useful classes

----------------------------------------------------------------------------------------- */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.displayNone {
  display: none;
}
.paddingGlobal {
  padding: 30px;
}
.padding30 {
  padding: 30px;
}
.padding20 {
  padding: 20px;
}
.padding10 {
  padding: 10px;
}
.padding0 {
  padding: 0px!important;
}
.globalPadding {
  padding: 30px;
}
.clear {
  clear: both;
  float: none;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.floatRight {
  float: right;
}
/* -----------------------------------------------------------------------------------------
ARROWS - I once was a designer but then I took an arrow to the knee
----------------------------------------------------------------------------------------- */
.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
	* In Internet Explorer, The"border-style: dashed" will never be
	* rendered unless "(width * 5) >= border-width" is true.
	* Since "width" is set to "0", the "dashed-border" remains
	* invisible to the user, which renders the border just like how
	* "border-color: transparent" renders.
	*/

  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */

  font-size: 15px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}
.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #049cdb;
}
.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #049cdb;
}
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #049cdb;
}
.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #049cdb;
}
/* =========================================================================================

GLOBAL

========================================================================================= */
html {
  font-size: 0.9em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
body {
  min-height: 100%;
  background: url(../images/bodyAllLines.jpg) repeat scroll #f5f5f5;
  overflow-x: hidden;
  color: #bfbfbf;
}
/* =========================================================================================

TYPOGRAPHY

========================================================================================= */
/* -------------------------------------------------------
Headers
------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: bold;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 1.7em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 0.1em;
}
p,
address {
  margin-bottom: 1.5em;
  font-size: 1em;
}
p + p {
  text-indent: 1.2em;
  margin-top: -1em;
}
em {
  font-style: italic;
  font-weight: normal;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h1 em,
h2 em,
h3 em {
  color: #bfbfbf;
  letter-spacing: 0;
}
strong {
  font-weight: bold;
}
a {
  color: #03719f;
  text-decoration: none;
}
a:hover {
  color: #024e6d;
  text-decoration: underline;
}
.superscript {
  vertical-align: super;
  font-size: 70%;
}
.subscript {
  vertical-align: bottom;
  font-size: 70%;
}
::selection {
  background: #049cdb;
  color: #ffffff;
}
::-moz-selection {
  background: #049cdb;
  color: #ffffff;
}
/* =========================================================================================

BUTTONS

========================================================================================= */
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px 6px;
  border-style: solid;
  border-width: 0 0 3px;
  color: #333333;
  font-weight: bold;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  background-color: #bfbfbf;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ebebeb), to(#bfbfbf));
  background-image: -moz-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -ms-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #bfbfbf));
  background-image: -webkit-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -o-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: linear-gradient(top, #ebebeb, #bfbfbf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#bfbfbf', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #a1a1a1;
  text-shadow: 0 -1px 0 #d7d7d7;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  /* Icons */

  /* Lets look at our peusdo classes */

}
.btn .pictos {
  text-shadow: 0 -1px 0 #d7d7d7;
}
.btn:hover {
  background-position: 0 -15px;
  text-decoration: none;
  color: #333333;
}
.btn.large {
  padding: 10px 20px;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
.btn.large:hover {
  background-position: 0 -30px;
}
.btn.success {
  color: #ffffff;
  background-color: #32f4bf;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7bf8d6), to(#32f4bf));
  background-image: -moz-linear-gradient(top, #7bf8d6, #32f4bf);
  background-image: -ms-linear-gradient(top, #7bf8d6, #32f4bf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bf8d6), color-stop(100%, #32f4bf));
  background-image: -webkit-linear-gradient(top, #7bf8d6, #32f4bf);
  background-image: -o-linear-gradient(top, #7bf8d6, #32f4bf);
  background-image: linear-gradient(top, #7bf8d6, #32f4bf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bf8d6', endColorstr='#32f4bf', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #0cdea4;
  text-shadow: 0 -1px 0 #585858;
}
.btn.info {
  color: #ffffff;
  background-color: #036690;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#036690));
  background-image: -moz-linear-gradient(top, #049cdb, #036690);
  background-image: -ms-linear-gradient(top, #049cdb, #036690);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #036690));
  background-image: -webkit-linear-gradient(top, #049cdb, #036690);
  background-image: -o-linear-gradient(top, #049cdb, #036690);
  background-image: linear-gradient(top, #049cdb, #036690);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#036690', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #023c54;
  text-shadow: 0 -1px 0 #003e68;
}
.btn.info .pictos {
  text-shadow: 0 -1px 0 #003e68;
}
.btn.alert {
  color: #ffffff;
  background-color: #942d28;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c43c35), to(#942d28));
  background-image: -moz-linear-gradient(top, #c43c35, #942d28);
  background-image: -ms-linear-gradient(top, #c43c35, #942d28);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c43c35), color-stop(100%, #942d28));
  background-image: -webkit-linear-gradient(top, #c43c35, #942d28);
  background-image: -o-linear-gradient(top, #c43c35, #942d28);
  background-image: linear-gradient(top, #c43c35, #942d28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c43c35', endColorstr='#942d28', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #641f1b;
  text-shadow: 0 -1px 0 #6c0500;
}
.btn.alert .pictos {
  text-shadow: 0 -1px 0 #6c0500;
}
.btn.active,
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-position: 0 -15px;
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btnGroup {
  margin: 0 0 10px;
  float: left;
}
.btnGroup .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  float: left;
  border-right-width: 1px;
  position: relative;
}
.btnGroup .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btnGroup .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border-right-width: 0;
}
.btnGroup .btn:active,
.btnGroup .btn.active {
  top: 2px;
  border-bottom-width: 1px;
}
