/* -----------------------------------------------------------------------------------------

AUTHOR:		Paul Huxen
DATE:		July 2012

----------------------------------------------------------------------------------------- */
/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*#c84342;*/
/* -----------------------------------------------------------------------------------------

Useful classes

----------------------------------------------------------------------------------------- */
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}
.paddingGlobal {
  padding: 30px;
}
.padding30 {
  padding: 30px;
}
.padding20 {
  padding: 20px;
}
.padding10 {
  padding: 10px;
}
.padding0 {
  padding: 0px!important;
}
.globalPadding {
  padding: 30px;
}
.clear {
  clear: both;
  float: none;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.floatCenter {
  margin: 0 auto;
}
.alignCenter {
  text-align: center;
}
/* -----------------------------------------------------------------------------------------

ARROWS - I once was a designer but then I took an arrow to the knee

----------------------------------------------------------------------------------------- */
.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
	* In Internet Explorer, The"border-style: dashed" will never be
	* rendered unless "(width * 5) >= border-width" is true.
	* Since "width" is set to "0", the "dashed-border" remains
	* invisible to the user, which renders the border just like how
	* "border-color: transparent" renders.
	*/

  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */

  font-size: 15px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}
.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #c3325f;
}
.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #c3325f;
}
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #c3325f;
}
.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #c3325f;
}
/* =========================================================================================

GLOBAL

========================================================================================= */
html {
  font-size: 0.9em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
body {
  min-height: 100%;
  background: url(../img/2.jpg) repeat fixed #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #808080;
}
/* =========================================================================================

NAVIGATION

========================================================================================= */
.navbar {
  background: #000000;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
.navbarInner {
  width: 600px;
  margin: 0 auto;
}
a.brand {
  float: left;
  padding: 15px 10px 15px 0;
  color: #ffffff;
}
a.brand:hover {
  text-decoration: none;
  color: #c3325f;
}
ul.nav {
  float: left;
}
ul.nav li {
  float: left;
  padding: 15px 10px;
}
ul.nav li a {
  color: #bfbfbf;
}
ul.nav li:hover a {
  text-decoration: none;
  color: white;
}
/* =========================================================================================

MAIN ELEMENTS

========================================================================================= */.container {
  width: 600px;
  padding-top: 70px;
  margin: 0 auto;
}
.containerInner {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 0 0 30px;
  overflow: hidden;
  /*-moz-box-shadow:    inset 0 0 10px @white;
			-webkit-box-shadow: inset 0 0 10px @white;
			box-shadow:         inset 0 0 10px @white;*/

}
pre {
  margin: 0;
  background: #333333;
  border: 0;
  color: #ffffff;
  padding: 0 15px;
  border: 1px dashed #808080;
  font-family: Courier, monospace !important;
  overflow: auto;
}
code {
  margin: 30px;
}
/* =========================================================================================

FOOTER

========================================================================================= */
.footer {
  float: left;
  padding: 0 0 5px;
  color: #ebebeb;
  text-align: right;
  width: 100%;
}
.footer a {
  color: #ebebeb;
}
.footer a:hover {
  color: #bfbfbf;
}
.footer ul {
  width: 100%;
  float: left;
}
.footer ul li {
  float: right;
  padding: 0 10px 10px 0;
}
/* =========================================================================================

SPAN

========================================================================================= */
.span100 {
  float: left;
  width: 600px;
  padding: 15px;
}
.span50 {
  float: left;
  width: 300px;
  padding: 15px;
}
.span25 {
  float: left;
  width: 150px;
}
.titleImage {
  margin: 0 auto 1em;
}
.titleH1 {
  margin-bottom: 0;
}
.siteNotification {
  border-top: 1px solid #808080;
}
.siteNotification p {
  margin-bottom: 0;
}
/* =========================================================================================

SPAN

========================================================================================= */
.projectTopImage {
  width: 600px;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
}
.rolloverBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.rolloverWrapper {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
.rolloverBoxButton {
  left: 0;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 600px;
  z-index: 5;
  font-size: 3em;
}
.rolloverBoxButton a {
  color: #ffffff;
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.rolloverBoxButton a:hover {
  color: #c3325f;
  text-decoration: none;
}
/* =========================================================================================

BX SLIDER

========================================================================================= */
.bx-wrapper {
  position: relative;
}
.bx-pager {
  width: 600px;
  padding: 0 30px 30px;
  text-align: center;
}
a.pager-link {
  background-color: #808080;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bfbfbf), to(#808080));
  background-image: -moz-linear-gradient(top, #bfbfbf, #808080);
  background-image: -ms-linear-gradient(top, #bfbfbf, #808080);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(top, #bfbfbf, #808080);
  background-image: -o-linear-gradient(top, #bfbfbf, #808080);
  background-image: linear-gradient(top, #bfbfbf, #808080);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#808080', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #6b6b6b;
  font-size: 0px;
  padding: 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 2px;
  outline: none;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
a.pager-active {
  background-color: #862241;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c3325f), to(#862241));
  background-image: -moz-linear-gradient(top, #c3325f, #862241);
  background-image: -ms-linear-gradient(top, #c3325f, #862241);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3325f), color-stop(100%, #862241));
  background-image: -webkit-linear-gradient(top, #c3325f, #862241);
  background-image: -o-linear-gradient(top, #c3325f, #862241);
  background-image: linear-gradient(top, #c3325f, #862241);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3325f', endColorstr='#862241', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #661a32;
  outline: none;
}
a.pager-link:hover {
  background-position: 0 -5px;
}
a.pager-active:hover {
  background-position: 0 -5px;
}
.bx-prev,
.bx-next {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  font-family: "Pictos";
  font-weight: normal;
  line-height: 0;
  text-shadow: none;
  font-size: 30px;
  color: #ffffff;
  outline: none;
  z-index: -2;
}
.bx-prev {
  position: absolute;
  top: 200px;
  left: -32px;
  height: 30px;
  width: 60px;
  overflow: hidden;
  padding: 0 0 0 20px;
}
.bx-next {
  position: absolute;
  top: 200px;
  right: -32px;
  height: 30px;
  width: 60px;
  overflow: hidden;
  padding: 0 20px 0 0;
  text-align: right;
}
.bx-prev:focus,
.bx-next:focus {
  outline: none;
}
.bx-prev:hover {
  text-decoration: none;
  color: #bfbfbf;
  left: -52px;
}
.bx-next:hover {
  text-decoration: none;
  color: #bfbfbf;
  right: -52px;
}
/* =========================================================================================

IOS SLIDER

========================================================================================= */
/* slider container */
.iosSlider {
  /* required */

  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* slider */
.iosSlider .slider {
  /* required */

  width: 100%;
  height: auto;
}
/* slide */
.iosSlider .slider .slide {
  /* required */

  float: left;
  /*
	overflow-x:hidden;
	overflow-y:auto;
	height:300px;
	*/

}
.iosSliderButtons {
  height: 40px;
  width: 100px;
  padding: 0;
  float: none;
  margin: 0 auto;
}
.iosSliderButtons .button {
  float: left;
  width: 10px;
  height: 10px;
  background: #999;
  margin: 0 10px 0 0;
  opacity: 0.25;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.iosSliderButtons .selected {
  background: #000;
  opacity: 1;
}
/* =========================================================================================

TYPOGRAPHY

========================================================================================= */
@font-face {
  font-family: 'Pictos';
  src: url('../icons/pictos-web.eot');
  src: local('☺'), url('../icons/pictos-web.woff') format('woff'), url('../icons/pictos-web.ttf') format('truetype'), url('../icons/pictos-web.svg#webfontphKv1xv9') format('svg');
  font-weight: normal;
  font-style: normal;
}
.pictos {
  font-family: "Pictos";
  font-weight: normal;
  line-height: 0;
  text-shadow: none;
}
/* -------------------------------------------------------
Headers
------------------------------------------------------- */
h1,
h2,
h3 {
  color: #000000;
  font-weight: bold;
}
h4,
h5 {
  font-weight: bold;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 1.7em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 0.2em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.2;
  margin-bottom: 0.1em;
}
p,
address {
  margin-bottom: 1.5em;
  font-size: 1em;
}
p + p {
  margin-top: -1em;
}
em {
  font-style: italic;
  font-weight: normal;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
strong {
  font-weight: bold;
}
a {
  color: #c3325f;
  text-decoration: none;
}
a:hover {
  color: #9a284b;
  text-decoration: underline;
}
.superscript {
  vertical-align: super;
  font-size: 70%;
}
.subscript {
  vertical-align: bottom;
  font-size: 70%;
}
::selection {
  background: #c3325f;
  color: #ffffff;
}
::-moz-selection {
  background: #c3325f;
  color: #ffffff;
}
/* =========================================================================================

BUTTONS

========================================================================================= */
.btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 15px 3px;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-weight: normal;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  background-color: #bfbfbf;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ebebeb), to(#bfbfbf));
  background-image: -moz-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -ms-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #bfbfbf));
  background-image: -webkit-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: -o-linear-gradient(top, #ebebeb, #bfbfbf);
  background-image: linear-gradient(top, #ebebeb, #bfbfbf);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#bfbfbf', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #ababab;
  text-shadow: 0 -1px 0 #d7d7d7;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  /* Icons */

  /* Lets look at our peusdo classes */

}
.btn .pictos {
  text-shadow: 0 -1px 0 #d7d7d7;
}
.btn:hover {
  background-position: 0 -15px;
  text-decoration: none;
  color: #333333;
}
.btn.large {
  padding: 10px 20px;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
.btn.large:hover {
  background-position: 0 -30px;
}
.btn.success {
  color: #ffffff;
  background-color: #0ab788;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7bf8d6), to(#0ab788));
  background-image: -moz-linear-gradient(top, #7bf8d6, #0ab788);
  background-image: -ms-linear-gradient(top, #7bf8d6, #0ab788);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bf8d6), color-stop(100%, #0ab788));
  background-image: -webkit-linear-gradient(top, #7bf8d6, #0ab788);
  background-image: -o-linear-gradient(top, #7bf8d6, #0ab788);
  background-image: linear-gradient(top, #7bf8d6, #0ab788);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bf8d6', endColorstr='#0ab788', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #08906b;
  text-shadow: 0 -1px 0 #585858;
}
.btn.info {
  color: #ffffff;
  background-color: #862241;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c3325f), to(#862241));
  background-image: -moz-linear-gradient(top, #c3325f, #862241);
  background-image: -ms-linear-gradient(top, #c3325f, #862241);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3325f), color-stop(100%, #862241));
  background-image: -webkit-linear-gradient(top, #c3325f, #862241);
  background-image: -o-linear-gradient(top, #c3325f, #862241);
  background-image: linear-gradient(top, #c3325f, #862241);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3325f', endColorstr='#862241', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #661a32;
  text-shadow: 0 -1px 0 #5e0019;
}
.btn.info .pictos {
  text-shadow: 0 -1px 0 #5e0019;
}
.btn.alert {
  color: #ffffff;
  background-color: #942d28;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c43c35), to(#942d28));
  background-image: -moz-linear-gradient(top, #c43c35, #942d28);
  background-image: -ms-linear-gradient(top, #c43c35, #942d28);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c43c35), color-stop(100%, #942d28));
  background-image: -webkit-linear-gradient(top, #c43c35, #942d28);
  background-image: -o-linear-gradient(top, #c43c35, #942d28);
  background-image: linear-gradient(top, #c43c35, #942d28);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c43c35', endColorstr='#942d28', GradientType=0);
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.25);*/

  border-color: #74231f;
  text-shadow: 0 -1px 0 #6c0500;
}
.btn.alert .pictos {
  text-shadow: 0 -1px 0 #6c0500;
}
.btn.active,
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-position: 0 -15px;
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btnGroup {
  margin: 0 0 10px;
  float: left;
}
.btnGroup .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  float: left;
  border-right-width: 1px;
}
.btnGroup .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.btnGroup .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.btnGroup .btn:active,
.btnGroup .btn.active {
  border-bottom-width: 1px;
}
/* =========================================================================================

MOBILE

========================================================================================= */
@media screen and (max-width: 480px) {
  html {
    font-size: 0.95em;
  }
  .navbarInner,
  .container,
  .containerInner,
  .span100,
  .span50,
  .span25,
  .bx-pager {
    width: 260px;
  }
  .bx-prev:hover {
    text-decoration: none;
    color: #bfbfbf;
    left: -32px;
  }
  .bx-next:hover {
    text-decoration: none;
    color: #bfbfbf;
    right: -32px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 0.95em;
  }
  .navbarInner,
  .container,
  .containerInner,
  .span100,
  .span50,
  .span25,
  .bx-pager {
    width: 320px;
  }
  .bx-prev:hover {
    text-decoration: none;
    color: #bfbfbf;
    left: -32px;
  }
  .bx-next:hover {
    text-decoration: none;
    color: #bfbfbf;
    right: -32px;
  }
}
